APP_PORT=yourport
LOG_LEVEL=info
DATABASE_URL=yourdbconn
DATABASE_DRIVER=yourdbdriver

ACCESS_TOKEN_KEY=sampleaccesskey
REFRESH_TOKEN_KEY=samplerefreshkey
ACCESS_TOKEN_DURATION=5m
REFRESH_TOKEN_DURATION=1h
